.CustomTimePicker {
  min-width: 108px;
  width: 108px;
  min-height: 27px;
  height: 27px;
  border-collapse: collapse;
  box-sizing: border-box;
  //   overflow: auto;
  //   white-space: nowrap;
  //   word-break: break-all;
  //   text-overflow: ellipsis;
  .headField {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    min-width: 108px;
    width: 108px;
    min-height: 27px;
    height: 27px;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    &:hover {
      cursor: pointer;
    }
    .textField {
      margin: 4px;
      // background-color: beige;
      width: calc(100% - 8px - 14px);
      min-width: calc(108px - 8px - 14px);
      height: calc(100% - 8px);
      min-height: calc(27px - 8px);
      line-height: 23px;
    }

    img {
      width: 12px;
      height: 12px;
      margin-right: 2px;

      &.normal {
        transform: rotate(0.5turn);
      }

      &.over {
        transition: transform 0.2s ease;
        transform-origin: center;
      }
    }
    & img:hover {
      cursor: pointer;
    }
  }

  & .slideFadeInDropdown {
    position: relative;
    overflow: hidden;
    z-index: 99;
  }
  .slideFadeInDropdown > div {
    animation: slide-fade-in-dropdown-animation 0.4s ease;
  }

  .slideFadeOutDropdown {
    overflow: hidden;
  }

  .slideFadeOutDropdown > div {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
  }

  & .list {
    // box-sizing: border-box;
    border: 1px solid #ccc;
    // border-collapse: collapse;
    // width: 100%;
    // height: 100%;
    overflow-y: scroll;
  }
}
@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
